/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

/* Variable CSS */
:root{
    --header-height: 3rem;
    --nav-width: 324px;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Colors */
    --first-white: #EAE7E6;
    --first-white-lighten: #FFFAFA;
    --dark-blue: hsl(229, 31%, 21%);
    --blue: hsl(231, 69%, 60%);
    --white: hsl(229, 8%, 60%);
    --red: hsl(0, 94%, 66%);

    /* Font and typography */
    --body-font: 'Rubik', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Margins */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /* Z index */
    --z-fixed: 100;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font); 
}

button{
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

#nav-links{
    display: none;
}

#hamburger{
    display: flex;
    align-items: center;
    width: 18px;
}

/* Bookmark section */

#bookmark{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12rem;
}

.hero{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.hero img{
    width: 23rem;
    margin-bottom: 2rem;
}

.hero1{
    overflow: hidden;
    width: 100%;
}

.blue-back{
    position: absolute;
    height: 200px;
    max-width: 375px;
    width: 80%;
    border-bottom-left-radius: 5rem;
    top: 25%;
    left: 20%;
    background-color: var(--blue);
    z-index: -1;
}

.write-up{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.write-up h1{
    text-align: center;
    width: 85%;
    color: var(--dark-blue);
}

.write-up p{
    margin: 1rem 0;
    text-align: center;
    width: 80%;
    color: var(--white);
    line-height: 1.5rem;
}

#bookmark-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn{
    width: 10rem;
    height: 3rem;
    margin: var(--mb-1);
    border: none;
    border-radius: .3rem;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
}

.blue-btn{
    color: var(--first-white);
    background-color: var(--blue);
}

.white-btn{
    color: var(--white);
}

/* Features section */
/* #features{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12rem;
} */

#features2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.line{
    height: .01rem;
    width: 80%;
    background-color: var(--white);
    outline: none;
}

.orange-mark{
    height: 0.3rem;
    width: 35%;
    background-color: var(--red);
}

.line-word{
    margin: 1rem 0;
    color: var(--white);
    font-weight: var(--font-medium);
}

.line-word:hover{
    color: var(--red);
}

.line1{
    color: var(--dark-blue);
}

.feature-bookmark{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.hero2{
    overflow: hidden;
    width: 100%;
    padding: 2rem 0;
}

.hero2 img{
    width: 20rem;
}

.blue-back2{
    position: absolute;
    height: 220px;
    max-width: 375px;
    width: 80%;
    border-bottom-right-radius: 5rem;
    top: 25%;
    right: 20%;
    background-color: var(--blue);
    z-index: -1;
}

/* Extension Section */
#extension{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

#browsers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0;
    width: 100%;
}

.browser{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 22rem;
    border-radius: .8rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin: 2rem 0;
    /* overflow: hidden; */
}

.browser-logo{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

#browsers .write-up{
    width: 100%;
    padding-bottom: 1.2rem;
}


.dotted-line{
    width: 100%;
}

.browser-btn-div{
    margin: 2rem;
    /* height: 200rem; */
    /* margin-bottom: var(--mb-4); */
}

.browser-btn{
    width: 13rem;
    height: 3rem;
    border: none;
    border-radius: .3rem;
    color: var(--first-white);
    background-color: var(--blue);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
}

/* FAQs */

#faqs{
    margin: 5rem 0;
}

#dropdowns{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 1.3rem 0;
}


.answer1{
    display: block;
    width: 80%;
    margin: 1.5rem 0;
}

.answerss{
    display: none;
}

.answer{
    display: none;
    width: 80%;
    margin: 1.5rem 0;
}

.more-info{
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

/* Contact Us Section */
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue);
    height: 23rem;
    padding: 5rem 0;
}

#up-write{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#up-write p{
    letter-spacing: 3px;
    font-size: var(--normal-font-size);
    text-transform: uppercase;
    color: var(--first-white);
}

#up-write h1{
    color: var(--first-white);
}

#inputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

#inputs form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    width: 100%;
}

#inputs form input{
    width: 85%;
    margin: 0.5rem 0;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: .3rem;
    font-size: var(--h3-font-size);
}

#input1::placeholder{
    color: var(--first-white);
}

#input2{
    color: var(--first-white);
    background-color: var(--red);
}

/* Footer */
footer{
    width: 100%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-blue);
    align-items: center;
}

footer .logo{
    margin-top: 2rem;
}

.footer-links{
    margin: 1rem 0;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: center;
}

.footer-links ul li{
    list-style-type: none;
    padding: 1rem 0;
}

.footer-links ul li a{
    text-decoration: none;
    color: var(--first-white);
}

.social-links{
    margin: 1rem 0;
}

.social-links svg{
    margin: 0 .5rem;
}

.attribution p{
    text-align: center;
    color: var(--first-white-lighten);
    font-size: var(--smaller-font-size);
    margin: 1rem 0;
}

/* Desktop version */
@media screen and (min-width: 1024px){

/* Navigation bar */

#hamburger{
    display: none;
}

#nav-links{
    display: flex;
    align-items: center;
}

.nav-link{
    margin: 0 1rem;
    list-style-type: none;
    cursor: pointer;
    color: var(--white);
    transition: all 0.2s ease;
}

.nav-link:hover{
    color: var(--red);
}

.login{
    background-color: var(--red);
    border-radius: 0.2rem;
    padding: 0.5rem 1.2rem;
}

.login:hover,
#input2:hover{
    background-color: var(--first-white-lighten);
    border: 2px solid var(--red);
    color: var(--red);
    outline: none;
}

.login:hover a{
    color: var(--red);
}

.login a{
    color: var(--first-white-lighten);
}

.login a:hover{
    color: var(--red);
}

.white-btn, 
.blue-btn{
    transition: all 0.5s ease;
}

.white-btn:hover{
    background-color: var(--first-white-lighten);
    border: 2px solid rgb(26, 22, 22);
    color: rgb(26, 22, 22);
}

.blue-btn:hover,
.browser-btn:hover{
    background-color: var(--first-white-lighten);
    border: 2px solid var(--blue);
    color: var(--blue);
}

/* Bookmark section */
#bookmark{
    flex-direction: row-reverse;
    margin: 2.5rem 0;
}

/* .write-up{
    margin: 0 4rem;
} */

.write-up h1{
    font-size: 2rem;
    font-weight: 500;
    width: 60%;
    text-align: left;
}

.write-up p{
    width: 60%;
    text-align: left;
}

#bookmark-btn{
    margin-left: 4%;
}

.hero img{
    width: 28rem;
}

.hero1{
    overflow: visible;
}

.blue-back{
    position: absolute;
    height: 250px;
    min-width: 76%;
    border-bottom-left-radius: 5rem;
    top: 25%;
    left: 30%;
    background-color: var(--blue);
    z-index: -1;
}

/* Features */

#features .write-up p{
    text-align: center;
    width: 45%;
}

#features2{
    flex-direction: row;
    position: relative;
    gap: 10rem;
    justify-content: center;
    height: 90px;
    margin-bottom: 3rem;
}

.linex,
.orange-mark{
    display: block;
    position: absolute;
    bottom: 0;
}

.linex{
    width: 76%;
}

.orange-mark{
    width: 22%;
    left: 12%;
    top: 95%;
    z-index: 1;
}

.line-word{
    transition: all 0.2s ease;
}

.line-word:hover{
    color: var(--red);
    cursor: pointer;
}

.feature-bookmark{
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

#features .hero img{
    width: 24rem;
}

.hero2{
    width: 100%;
    overflow: visible;
}

.blue-back2{
    position: absolute;
    height: 240px;
    max-width: 473px;
    width: 100%;
    border-bottom-right-radius: 5rem;
    top: 25%;
    right: 30%;
    background-color: var(--blue);
    z-index: -1;
}

#feature .feature-bookmark .write-up{
    width: 10%;
}

.feature-bookmark .write-up h1{
    width: 70%;
    text-align: left;
}

#features .feature-bookmark .write-up p{
    width: 70%;
    text-align: left;
}

#features .feature-bookmark .write-up .more-info{
    margin: 0.5rem 0;
    justify-content: left;
    width: 70%;
}

#features .feature-bookmark .write-up .more-info .blue-btn{
    width: 6rem;
    font-size: .8rem;
}

#features .feature-bookmark .write-up .more-info .blue-btn,
#features .feature-bookmark .write-up .more-info .btn{
    margin: 0;
}

/* Extension */

#extension .write-up h1,
#extension .write-up p{
    text-align: center;
}

#browsers{
    position: relative;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin: 0 0 8rem 0;
    
}

.browser{
    position: relative;
    width: 25%;
    /* height: 25rem; */
}

.firefox{
    top: 50px;
}

.opera{
    top: 100px;
}

#browsers .write-up{
    padding: 1rem 0;
}

#browsers .write-up h1{
    width: 100%;
    font-size: 1.5rem;
}

.browser-logo img{
    padding-top: .5rem;
    width: 80%;
}

.browser-btn{
    transition: all 0.5s ease;
}

/* FAQs */
#faqs .write-up h1,
#faqs .write-up p{
    text-align: center;
}

#faqs .write-up p{
    width: 42%;
}

.dropdown,
.answer,
#dropdowns .line{
    width: 45%;
}

.dropdown{
    transition: all 0.5s ease;
}

.dropdown:hover{
    cursor: pointer;
}

.dropdown:hover .question{
    color: var(--red);
}

#faqs .btn{
    width: 7rem;
}

/* Contact Us */

#up-write p{
    margin-bottom: 2rem;
}

#up-write h1{
    width: 70%;
}

#inputs form{
    flex-direction: row;
    justify-content: center;
}

#inputs form #input1{
    width: 25%;
}

#inputs form #input2{
    width: 10%;
    margin-left: 2rem;
    cursor: pointer;
    padding-right: 6rem;
}

/* Footer */
footer{
    /* flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: 
    "logo footer-links social-links"
    ". attribution .";
    height: 100px;
}

footer .logo{
    grid-area: logo;
    margin: 0 0 0 5rem;
}

.footer-links ul{
    grid-area: footer-links;
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-left: 3rem;
    transition: all 0.5s ease;
}

.footer-links ul li a:hover{
    color: var(--red);
}

.social-links{
    grid-area: social-links;
    transition: all 0.5s ease;
}

.social-links a svg path:hover{
    fill: var(--red);
}


.attribution{
    grid-area: attribution;
    display: none;
}

.attribution p{
    margin: 0;
    color: hsl(229, 8%, 60%);
    font-size: 8px;
}




}








